<h1>Hi, <%= current_user.first_name %></h1>
<h2><%= link_to 'Posts', blogs_path  %></h2>
<% @posts.each do |post| %>
  <%= post.title %><br>
<% end %>
<br>
<h2>Skills</h2>
<% @skills.each do |skill| %>
  <%= skill.title %> - <%= skill.percent_utilised %><br>
<% end %>
<br>
<h2><%= link_to 'Portfolio', portfolios_path  %></h2>
<% @portfolios.each do |portfolio| %>
  <%= portfolio.title %><br>
<% end %>

